article#estado
	#data.data-section(ng-controller="FiltersController")
		.section-title
			.container
				//- .three.columns
				.twelve.columns
					h1(ng-hide="hideTitle")
						span(ng-show="city") {{city.municipio}}
						span(ng-hide="city") {{estado.estado}}
					.title-group-item(ng-repeat="g in groups" ng-class="{active: g == group}")
						h2(ng-click="selectGroup(g)") {{g.title}}
				.clear
			nav(ng-repeat="g in groups" ng-show="group == g")
				.container
					.twelve.columns
						h2.crumb(ng-hide="lock")
							a(href="javascript:void(0);" ng-click="goHome(group)") Ver todos os estados
						ul
							li(ng-repeat="selection in g.selections")
								a(href="javascript:void(0);" ng-click="group.changeSelection(selection)" ng-class="{active:group.selection.key == selection.key}") {{selection.name}}

		.section-content.with-map
			.map-container.right
				map#map.map(group="{{group.name}}" user="infoamazonia" table="merge_fiocruz_amz" column="{{group.selection.mapKey}}" where="estado_id = {{estado.id}}" color="{{group.color}}" baselayer="https://{s}.tiles.mapbox.com/v3/infoamazonia.j55mnl2i/{z}/{x}/{y}.png" interactivity="municipio,value" city="{{city.id}}")
				.infowindow(ng-show="map")
					h3 {{map.municipio}}
					p {{map.value}} {{group.selection.text}}

			.inside-map
				.container
					.twelve.columns
						.inside-map-content

							.city-data(ng-show="city")
								h3 {{city.value}}{{group.suffix||'%'}}

							h2(ng-show="city") Ranking de outras cidades deste estado

							a.learn-more(href="javascript:void(0)" ng-click="itemDetails(group)") Saiba mais

							span.order
								| Ordernar
								a(href="javascript:void(0);" ng-click="changeOrder('value')") &#x25B2;
								a(href="javascript:void(0);" ng-click="changeOrder('-value')") &#x25BC;

							.clear

							ul.bar-list.municipio-list.clearfix
								li.bar-item.municipio-item.clearfix(ng-repeat="(index, municipio) in (filtered = (group.data | hideEmpty:'value')) | orderBy:order | limitTo:limitCities" title="{{municipio.municipio}}")
									span.rank {{index+1}}
									bar-item(percentage="{{municipio.value}}" max="{{group.useMax ? group.max.value : ''}}" data="municipio" suffix="{{group.suffix}}")
										h3 {{data.municipio}}

			p.not-found(ng-hide="filtered.length") Não foram encontrados índices para este estado
