article#estado
	#data.data-section(ng-controller="FiltersController")
		.section-title
			.container
				.three.columns
					h1 {{estado.estado}}
				.nine.columns
					.title-group-item(ng-repeat="g in groups" ng-class="{active: g == group}")
						h2(ng-click="selectGroup(g)") {{g.title}}
					.clear
					nav(ng-repeat="g in groups" ng-show="group == g")
						ul
							li(ng-repeat="selection in g.selections")
								a(href="javascript:void(0);" ng-click="group.changeSelection(selection)" ng-class="{active:group.selection.key == selection.key}") {{selection.name}}

		.section-content.with-map
			.map-container.right
				map#map.map(group="{{group.name}}" user="infoamazonia" table="merge_fiocruz" column="{{group.selection.mapKey}}" where="estado_id = {{estado.id}}" color="{{group.color}}" baselayer="https://{s}.tiles.mapbox.com/v3/infoamazonia.j55mnl2i/{z}/{x}/{y}.png" interactivity="municipio,value")
				.infowindow(ng-show="map")
					h3 {{map.municipio}}
					p {{map.value}} {{group.selection.text}}

			a.learn-more(href="javascript:void(0)" ng-click="itemDetails(group)") Saiba mais sobre este filtro

			ul.bar-list.municipio-list.inside-map.clearfix
				li.bar-item.municipio-item.clearfix(ng-repeat="(index, municipio) in (filtered = (group.data | hideEmpty:'value')) | orderBy:'value' | limitTo:10" title="{{municipio.municipio}}")
					span.rank {{index+1}}
					bar-item(percentage="{{municipio.value}}" max="{{group.useMax ? group.max.value : ''}}" data="municipio" suffix="{{group.suffix}}")
						h3 {{data.municipio}}

			p.not-found(ng-hide="filtered.length") Não foram encontrados índices para este estado