article#estado
	.section-title.row
		.container
			.twelve.columns
				h1 {{estado.estado}}
				p.alignright {{estado.total_municipios}} municípios na Amazônia Legal

	.anti-row.map-container
		map#map(user="infoamazonia" table="merge_fiocruz" column="agua_rede_" where="estado_id = {{estado.id}}" color="#ffcc00" baselayer="https://{s}.tiles.mapbox.com/v3/infoamazonia.j55mnl2i/{z}/{x}/{y}.png" interactivity="municipio,value")
		.infowindow(ng-show="map.municipio")
			h4 {{map.municipio}}
			p {{map.value}}%

	.estado-content
		.container
			.twelve.columns
				h2 Ranking dos municípios

		.container
			.twelve.columns
				h3 Abastecimento
				.clear
				nav
					ul.clearfix
						li(ng-repeat="selection in abastecimento.selections")
							a(href="javascript:void(0);" ng-click="abastecimento.changeSelection(selection)" ng-class="{active:abastecimento.selection.key == selection.key}") {{selection.name}}
				ul.bar-list.municipio-list.clearfix
					li.bar-item.municipio-item.clearfix(ng-repeat="(index, municipio) in abastecimento.data | hideEmpty:'value' | orderBy:'value' | limitTo:10")
						span.rank {{index+1}}
						bar-item(percentage="{{municipio.value}}" data="municipio")
							h3 {{data.municipio}}

			.twelve.columns
				h3 Os 10 municípios com pior acesso a esgoto
				.clear
				nav
					ul.clearfix
						li(ng-repeat="selection in esgoto.selections")
							a(href="javascript:void(0);" ng-click="esgoto.changeSelection(selection)" ng-class="{active:esgoto.selection.key == selection.key}") {{selection.name}}
				ul.bar-list.municipio-list.clearfix
					li.bar-item.municipio-item.clearfix(ng-repeat="(index, municipio) in esgoto.data | hideEmpty:'value' | orderBy:'value' | limitTo:10")
						span.rank {{index+1}}
						bar-item(percentage="{{municipio.value}}" data="municipio")
							h3 {{data.municipio}}

			.twelve.columns
				h3 Os 10 municípios com maiores índices de doenças
				.clear
				nav
					ul.clearfix
						li(ng-repeat="selection in doencas.selections")
							a(href="javascript:void(0);" ng-click="doencas.changeSelection(selection)" ng-class="{active:doencas.selection.key == selection.key}") {{selection.name}}
				ul.bar-list.municipio-list.clearfix
					li.bar-item.municipio-item.clearfix(ng-repeat="(index, municipio) in doencas.data | hideEmpty:'value' | orderBy:'value':true | limitTo:10")
						span.rank {{index+1}}
						bar-item(percentage="{{municipio.value}}" data="municipio" max="{{doencas.max.value}}" suffix="/100mil habitantes")
							h3 {{data.municipio}}