section#home

	#intro.row
		p.big
			| A Amazônia detém a maior quantidade de água doce do Brasil, 
			span.num 73% 
			| de toda vazão hídrica. 

		p.big Mas o acesso ao saneamento nos 771 munícipios da região está entre as piores do país.

		p.big
			| Na Amazônia Legal, 
			span.num 60% 
			| dos munícipios são atendidos por rede geral de água. A média nacional é de 
			span.num 82,7% 

		.row
			.left
				p 26,4% dos domícilios dependem de poços e nascentes. 13,2%, de outras formas, como lagos, açudes e caminhões pipa.

				p Em Rondônia, 61% das famílias obtém água através de alternativas à rede geral.

				p A coleta de esgoto também está abaixo da média nacional:  14,6% na Amazônia x 38,7% no Brasil.

				p A fossa rudimentar é a principal forma de descarte, presente em 49,2% dos munícipios.

			.right
				p Rondônia e Amapá são os estados em pior situação, com 6% de coleta de esgoto.

				p As doenças causadas pela ingestão de água de má qualidade têm alta incidência na Amazônia.

				p O Acre possui a maior incidência de Hepatite A do país: 69 casos por 100 mil habitantes.

				p O Maranhão é o estado com maior número de internações por amebíase: 32 a cada 100 mil/hab.

		p.big Explore os dados completos nos mapas e tabelas abaixo

	#data.data-section(ng-controller="FiltersController")
		.section-title
			.container
				.twelve.columns
					.title-group-item(ng-repeat="g in groups" ng-class="{active: g.name == group.name}")
						h2(ng-click="selectGroup(g)") {{g.title}}
				.twelve.columns
					nav(ng-repeat="g in groups" ng-show="group.name == g.name")
						ul
							li(ng-repeat="selection in g.selections")
								a(href="javascript:void(0);" ng-click="group.changeSelection(selection)" ng-class="{active:group.selection.key == selection.key}") {{selection.name}}

		.section-content.with-map
			.map-container.right
				map#map.map(group="{{group.name}}" user="infoamazonia" table="merge_fiocruz" column="{{group.selection.mapKey}}" where="estado_id IS NOT NULL" color="{{group.color}}" baselayer="https://{s}.tiles.mapbox.com/v3/infoamazonia.j55mnl2i/{z}/{x}/{y}.png" interactivity="municipio,value")
				.infowindow(ng-show="map")
					h3 {{map.municipio}}
					p {{map.value}} {{group.selection.text}}

			.inside-map

				a.learn-more(href="javascript:void(0)" ng-click="itemDetails(group)") Saiba mais sobre este filtro

				.clear

				ul.bar-list.uf-list.clearfix(ng-controller="EstadoController")
					li.bar-item.uf-item.clearfix(ng-repeat="(index, estado) in group.data | orderBy:'estado'" ng-click="accessUFGroup(estado.id, group)")
						span.rank {{index+1}}
						bar-item(percentage="{{estado.value}}" max="{{group.useMax ? group.max.value : ''}}" data="estado" suffix="{{group.suffix}}")
							h3 {{data.estado}}
							p.municipios {{data.municipios}} municipios

				p.tip Clique nos estados para ver ranking dos municípios
