section#home
	.row
		.home-data-section
			.container
				.twelve.columns
					h2.section-title.row Situação

				.eight.columns
					ul.uf-list.clearfix
						li.uf-item(ng-repeat="estado in estados.redeGeral.data")
							h3 {{estado.uf}}
							p {{estado.count}} municípios
							p {{estado.average}}%

				.four.columns
					.summary
						p
							span.big-stats {{redeGeral.data[0].average}}% 
							| das residências na 
							strong Amazônia Legal 
							| possuem abastecimento de água pela rede geral.

	.row
		.home-data-section
			.container
				.twelve.columns

					h2.section-title Impacto

					p {{outros.data[0].average}}% das residências possuem abastecimento de água de outras formas.

				.four.columns(ng-repeat="estado in estados.outros.data")
					h3 {{estado.uf}}
					p {{estado.count}} municípios
					p {{estado.average}}%

	.row
		.container
			.six.columns
				h2 Proporção de DPP com rede geral como forma de abastecimento de água (2010)
				ul(ng-controller="CityController")
					li(ng-repeat="item in items[4].data" ng-click="accessCity(item)")
						h3
							a(href="javascript:void(0);") {{item.cidade}}
						p {{item.uf}}
						p {{item.valor}}%
			.six.columns
				h2 Proporção de DPP com outras formas de abastecimento de água (2010)
				ul(ng-controller="CityController")
					li(ng-repeat="item in items[5].data" ng-click="accessCity(item)")
						h3
							a(href="javascript:void(0);") {{item.cidade}}
						p {{item.uf}}
						p {{item.valor}}%