section#home

	.data-section
		.section-title
			.container
				.twelve.columns
					.title-group-item(ng-repeat="g in groups" ng-class="{active: g == group}")
						h2(ng-click="selectGroup(g)") {{g.title}}
				.twelve.columns
					nav(ng-repeat="g in groups" ng-show="group == g")
						ul
							li(ng-repeat="selection in g.selections")
								a(href="javascript:void(0);" ng-click="group.changeSelection(selection)" ng-class="{active:group.selection.key == selection.key}") {{selection.name}}

		.section-content.with-map
			.map-container.right
				map#map.map(group="{{group.name}}" user="infoamazonia" table="merge_fiocruz" column="{{group.selection.mapKey}}" where="estado_id IS NOT NULL" color="{{group.color}}" baselayer="https://{s}.tiles.mapbox.com/v3/infoamazonia.j55mnl2i/{z}/{x}/{y}.png" interactivity="municipio,value")
				.infowindow(ng-show="map")
					h4 {{map.municipio}}
					p {{map.value}}

			ul.bar-list.uf-list.inside-map.clearfix(ng-controller="EstadoController")
				li.bar-item.uf-item.clearfix(ng-repeat="(index, estado) in group.data | orderBy:'estado'" ng-click="accessState(estado.id)")
					span.rank {{index+1}}
					bar-item(percentage="{{estado.value}}" max="{{group.useMax ? group.max.value : ''}}" data="estado" suffix="{{group.suffix}}")
						h3 {{data.estado}}
						p.municipios {{data.municipios}} municipios



//

	.four.columns
		.summary
			p
				span.big-stats(animate-count number="{{doencas.total}}" suffix="") 
				| internações por 100 mil habitantes por {{doencas.selection.name}} na  
				strong Amazônia Legal
				| .