section#home
	.row
		.home-data-section
			.section-title.row
				.container
					.twelve.columns
						h2 Abastecimento de água
						.clear
						nav
							ul.clearfix
								li(ng-repeat="selection in abastecimento.selections")
									a(href="javascript:void(0);" ng-click="abastecimento.changeSelection(selection)" ng-class="{active:abastecimento.selection.key == selection.key}") {{selection.name}}

			.container
				.eight.columns
					ul.bar-list.uf-list.clearfix(ng-controller="EstadoController")
						li.bar-item.uf-item.clearfix(ng-repeat="(index, estado) in abastecimento.data | orderBy:'estado'" ng-click="accessState(estado.id)")
							span.rank {{index+1}}
							bar-item(percentage="{{estado.value}}" data="estado")
								h3 {{data.estado}}
								p.municipios {{data.municipios}} municipios

				.four.columns
					.summary
						p
							span.big-stats(animate-count number="{{abastecimento.total}}" suffix="%") 
							| das residências na 
							strong Amazônia Legal 
							| possuem {{abastecimento.selection.text}}.

	.row
		.home-data-section
			.section-title.row
				.container
					.twelve.columns
						h2 Acesso a esgoto
						.clear
						nav
							ul.clearfix
								li(ng-repeat="selection in esgoto.selections")
									a(href="javascript:void(0);" ng-click="esgoto.changeSelection(selection)" ng-class="{active:esgoto.selection.key == selection.key}") {{selection.name}}

			.container
				.eight.columns
					ul.bar-list.uf-list.clearfix(ng-controller="EstadoController")
						li.bar-item.uf-item.clearfix(ng-repeat="(index, estado) in esgoto.data | orderBy:'estado'" ng-click="accessState(estado.id)")
							span.rank {{index+1}}
							bar-item(percentage="{{estado.value}}" data="estado")
								h3 {{data.estado}}
								p.municipios {{data.municipios}} municipios

				.four.columns
					.summary
						p
							span.big-stats(animate-count number="{{esgoto.total}}" suffix="%") 
							| das residências na 
							strong Amazônia Legal 
							| possuem {{esgoto.selection.text}}.

	.row
		.home-data-section
			.section-title.row
				.container
					.twelve.columns
						h2 Doenças
						.clear
						nav
							ul.clearfix
								li(ng-repeat="selection in doencas.selections")
									a(href="javascript:void(0);" ng-click="doencas.changeSelection(selection)" ng-class="{active:doencas.selection.key == selection.key}") {{selection.name}}

			.container
				.eight.columns
					ul.bar-list.uf-list.clearfix(ng-controller="EstadoController")
						li.bar-item.uf-item.clearfix(ng-repeat="(index, estado) in doencas.data | orderBy:'estado'" ng-click="accessState(estado.id)")
							span.rank {{index+1}}
							bar-item(percentage="{{estado.value}}" max="{{doencas.max.value}}" suffix="/100mil habitantes" data="estado")
								h3 {{data.estado}}
								p.municipios {{data.municipios}} municipios

				.four.columns
					.summary
						p
							span.big-stats(animate-count number="{{doencas.total}}" suffix="") 
							| internações por 100 mil habitantes por {{doencas.selection.name}} na  
							strong Amazônia Legal
							| .
	.row
		map#map