section#home.main-section
	.container
		.six.columns
			h2 Proporção de DPP com rede geral como forma de abastecimento de água (2010)
			ul(ng-controller="CityController")
				li(ng-repeat="item in items[0].data" ng-click="accessCity(item)")
					h3
						a(href="javascript:void(0);") {{item.city}}
					p {{item.value}}
		.six.columns
			h2 Proporção de DPP com outras formas de abastecimento de água (2010)
			ul(ng-controller="CityController")
				li(ng-repeat="item in items[1].data" ng-click="accessCity(item)")
					h3
						a(href="javascript:void(0);") {{item.city}}
					p {{item.value}}