section#home
	.row
		.home-data-section
			.section-title.row
				.container
					.twelve.columns
						h2 Situação
						p O abastecimento de água pela rede geral

			.container
				.eight.columns
					ul.uf-list.clearfix
						li.uf-item.clearfix(ng-repeat="estado in estados.redeGeral.data")
							.data-rep(style="width:{{estado.average}}%")
							.data.info
								p.percentage {{estado.average}}%
								h3 {{estado.uf}}
								p.cities {{estado.count}} municípios

				.four.columns
					.summary
						.data-rep(style="top:{{100-redeGeral.data[0].average}}%")
						p
							span.big-stats {{redeGeral.data[0].average}}% 
							| das residências na 
							strong Amazônia Legal 
							| possuem abastecimento de água pela rede geral.

	.row
		.home-data-section
			.section-title.row
				.container
					.twelve.columns
						h2 Impacto
						p O abastecimento de água por outras formas

			.container
				.eight.columns
					ul.uf-list.clearfix
						li.uf-item(ng-repeat="estado in estados.outros.data")
							p.percentage {{estado.average}}%
							h3 {{estado.uf}}
							p.cities {{estado.count}} municípios

				.four.columns
					.summary
						.data-rep(style="top:{{100-outros.data[0].average}}%")
						p
							span.big-stats {{outros.data[0].average}}% 
							| das residências na 
							strong Amazônia Legal 
							| possuem abastecimento de água por outras formas.

	.row
		.container
			.six.columns
				h2 Proporção de DPP com rede geral como forma de abastecimento de água (2010)
				ul(ng-controller="CityController")
					li(ng-repeat="item in items[4].data" ng-click="accessCity(item)")
						h3
							a(href="javascript:void(0);") {{item.cidade}}
						p {{item.uf}}
						p {{item.valor}}%
			.six.columns
				h2 Proporção de DPP com outras formas de abastecimento de água (2010)
				ul(ng-controller="CityController")
					li(ng-repeat="item in items[5].data" ng-click="accessCity(item)")
						h3
							a(href="javascript:void(0);") {{item.cidade}}
						p {{item.uf}}
						p {{item.valor}}%