//
	script.
		var _gaq = _gaq || [];
		_gaq.push(['_setAccount', "ID"]);
		_gaq.push(['_setDomainName', 'DOMINIO']);
		_gaq.push(['_trackPageview']);

		(function() {
		var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		})();

link(href='http://libs.cartocdn.com/cartodb.js/v3/themes/css/cartodb.css', rel='stylesheet', type='text/css')
link(href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,400,300,600,700,800', rel='stylesheet', type='text/css')
link(href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700', rel='stylesheet', type='text/css')
script(type='text/javascript', src='//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js')
script(type='text/javascript', src='http://libs.cartocdn.com/cartodb.js/v3/cartodb.js')
script(type='text/javascript', src='/vendor.js')
script(type='text/javascript', src='/app.js')