head
	title VISAGUAS - Água e doenças na Amazônia Legal
	meta(name="viewport" content="width=device-width,initial-scale=1.0")
	link(rel='stylesheet', href='/css/base.css')
	link(rel='stylesheet', href='/css/skeleton.css')
	link(rel='stylesheet', href='/css/app.css')
	met(name="description" content="Um aplicativo da plataforma InfoAmazonia dedicada a concentrar dados sobre o acesso ao saneamento, a qualidade d´água e as enfermidades de veiculação hídrica na região amazônica.")
	meta(name="author" content="InfoAmazonia")
	meta(name="keywords" content="visualização,amazônia legal,saneamento,doenças,água")
	meta(property="og:image" content="http://visaguas.infoamazonia.org/img/thumb.png")
	meta(property="og:title" content="VISAGUAS - Água e doenças na Amazônia Legal")
	meta(property="og:type" content="article")
	meta(property="og:url" content="http://visaguas.infoamazonia.org/")