doctype html
html(lang='pt-BR')
	include includes/head
	body(ng-controller="MainCtrl" ng-class="{iframe: iframe, theme_{{theme}}: theme}")

		#fb-root
		script.
			(function(d, s, id) {
			var js, fjs = d.getElementsByTagName(s)[0];
			if (d.getElementById(id)) return;
			js = d.createElement(s); js.id = id;
			js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=459964104075857";
			fjs.parentNode.insertBefore(js, fjs);
			}(document, 'script', 'facebook-jssdk'));

		header#masthead(ng-hide="iframe")
			video(src="https://infoamazonia.org/visaguas/video_01.mp4" ng-attr-autoplay="!iframe" loop muted)
			p.video-credits
				a(href="https://www.flickr.com/photos/cifor/5963328548" target="_blank") Vídeo: Daniel Cooney/CIFOR

			h2.ia
				a(href="https://infoamazonia.org/" target="_blank") InfoAmazonia
			h1
				a(href="/") Visaguas

			h2.tagline Água e doenças na Amazônia Legal

		section#content(ui-view, autoscroll='false')

		.clear

		div(ng-hide="iframe")
			#about
				p.about-text
					| VISAGUAS é um aplicativo da plataforma
					a(href="https://infoamazonia.org/" target="_blank") InfoAmazonia
					| dedicada a concentrar dados sobre o acesso ao saneamento, a qualidade d´água e as enfermidades de veiculação hídrica na região amazônica.

				.social

					.fb-like(data-href="https://visaguas.infoamazonia.org/" data-colorscheme="dark" data-layout="button_count" data-action="like" data-show-faces="true" data-share="true")

					a(href="https://twitter.com/share" data-url="https://visaguas.infoamazonia.org/" class="twitter-share-button" data-lang="pt-BR") Tuitar
					script.
						!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");

			footer#mastfoot
				.container
					.row
						.six.columns
							h2 Equipe
							p
								a(href="https://infoamazonia.org/" target="_blank") InfoAmazonia
							p Visualização: Miguel Peixe
							p Análise e base de dados: Vitor George
							p Texto: Gustavo Faleiros
						.six.columns
							h2 Dados
							.three.columns.alpha
								h3 Acesso à rede geral de saneamento
								p Censo 2010 - IBGE
								h3 Acesso a esgotamento sanitário
								p Censo 2010 - IBGE
							.three.columns.omega
								h3 Enfermidades
								p Dados do DataSUS (AIH e SINAM) conforme organização do projeto Água Brasil da Fiocruz
								h3 Outras fontes utilizadas
								p Agência Nacional de Água (ANA), Instituto Trata Brasil
				.subfoot
					.container
						.twelve.columns
							p.thanks
								| Agradecimento a todos os participantes da
								a(href="https://www.meetup.com/Hacks-Hackers-Sao-Paulo/events/203744692/" target="_blank") Hackaton “Dados e Sensores para medir qualidade de água”
							p.source
								a(href="https://github.com/InfoAmazonia/visaguas" target="_blank") Acesse o código no GitHub

		include includes/foot
