doctype html
html(lang='pt-BR')
	include includes/head
	body
		header#masthead
			video(src="http://infoamazonia.org/visaguas/video_01.mp4" autoplay loop muted)
			p.video-credits
				a(href="https://www.flickr.com/photos/cifor/5963328548" target="_blank") Vídeo: Daniel Cooney/CIFOR
			
			h2.ia
				a(href="http://infoamazonia.org/" target="_blank") InfoAmazonia
			h1
				a(href="/") Visaguas
			
			h2.tagline Água e doenças na Amazônia Legal

		section#content(ui-view, autoscroll='false')

		.clear

		#about
			p Visaguas é um aplicativo da plataforma InfoAmazonia.org dedicada a concentrar dados sobre o acesso ao saneamento, a qualidade d´água e as enfermidades de veiculação hídrica na região amazônica.

		footer#mastfoot
			.container
				.six.columns
					h2 Equipe
					p
						a(href="http://infoamazonia.org/" target="_blank") InfoAmazonia
					p Visualização: Miguel Peixe
					p Análise e base de dados: Vitor George
					p Texto: Gustavo Faleiros
				.six.columns
					h2 Dados
					p Acesso à rede geral de saneamento: Censo 2010 - IBGE
					p Acesso a esgotamento sanitário: Censo 2010 - IBGE
					p Enfermidades: Dados do DataSUS (AIH e SINAM) conforme organização do projeto Água Brasil da Fiocruz
					p Outras fontes utilizadas: Agência Nacional de Água (ANA), Instituto Trata Brasil

		//
			#loading(loading-status-message='loading-status-message', ng-class='{active: loads.length}')
			.loading-message

		include includes/foot
