doctype html
html(lang='pt-BR')
	include includes/head
	body
		header#masthead
			video(src="http://infoamazonia.org/visaguas/video_01.mp4" autoplay loop muted)
			p.video-credits
				a(href="https://www.flickr.com/photos/cifor/5963328548" target="_blank") Vídeo: Daniel Cooney/CIFOR
			.header-content
				h2.ia
					a(href="http://infoamazonia.org/" target="_blank") InfoAmazonia
				.container
					.twelve.columns
						h1
							a(href="/") Visaguas
						h2.tagline Abastecimento de água na Amazônia Legal

		section#content(ui-view, autoscroll='false')

		.clear

		footer#mastfoot

		//
			#loading(loading-status-message='loading-status-message', ng-class='{active: loads.length}')
			.loading-message

		include includes/foot
