@import "functions.less";

body,
html {
	height: 100%;
	font-family: "Open Sans", "Helvetica", sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
	font-family: "Open Sans Condensed";
	font-weight: 200;
	line-height: 150%;
}

#masthead {
	min-height: 100%;
	position: relative;
	&.fixed {
		position: fixed;
		min-height: 0;
		top: 0;
		left: 0;
		right: 0;
		height: 60px;
		z-index: 99999;
		.video-credits {
			display: none;
		}
		h1 a {
			border-color: rgba(255,255,255,0.3);
			border-bottom: 0;
			&:hover {
				border-color: #fff;
			}
		}
		h2,
		h2.tagline {
			display: none;
		}
	}
	video {
		position: absolute;
		right: 0;
		bottom: 0;
		min-width: 100%;
		min-height: 100%;
		width: auto;
		height: auto;
		z-index: -100;
		background: url(../img/header_bg.png) no-repeat;
		background-size: cover;
	}
	.video-credits {
		position: absolute;
		bottom: 0;
		right: 0;
		display: inline;
		font-size: 12px;
		line-height: 12px;
		color: rgba(255,255,255,0.3);
		margin: 0;
		padding: 5px;
		.transition(all .2s ease-in-out);
		&:hover {
			color: rgba(255,255,255,0.7);
		}
		a {
			color: inherit;
			text-decoration: none;
		}
	}
	&:before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background: rgba(0,0,0,0.5) url(../img/dots.png);
	}
	h2.ia {
		position: absolute;
		top: 5%;
		left: 0;
		right: 0;
		font-weight: 700;
		text-align: center;
		color: #fff;
		text-transform: uppercase;
		font-size: 18px;
		line-height: 25px;
		a {
			text-decoration: none;
			color: inherit;
			display: inline-block;
			&:after {
				content: url(../img/ia.png);
				float: right;
				line-height: 25px;
				margin: 0 0 0 10px;
			}
		}
	}
	h1 {
		position: absolute;
		top: 50%;
		left: 0;
		right: 0;
		margin-top: -62px;
		text-align: center;
		color: #fff;
		text-transform: uppercase;
		line-height: 120px;
		.transition(font-size .2s ease-in-out);
		a {
			display: inline-block;
			color: inherit;
			text-decoration: none;
			border: 2px solid #fff;
			padding: 0;
			width: 230px;
			.transition(border-color .2s ease-in-out);
		}
		&.fixed {
			position:fixed;
			top: 0;
			left: 0;
			right: 0;
			margin: 0;
			line-height: 60px;
			font-size: 26px;
			a {
				border-top: 0;
			}
		}
	}
	h2.tagline {
		width: 50%;
		max-width: 580px;
		position: absolute;
		bottom: 10%;
		left: 0;
		right: 0;
		margin: 0 auto;
		font-size: 32px;
		color: #fff;
		text-align: center;
	}
	&.title-fixed {
		h2.tagline {
			display: none;
		}
	}
}

#content {
	min-height:100%;
	background: #fff url(../img/dots.png);
	color: #444;
	font-size: 18px;
	line-height: 150%;
	.map-container {
		position: relative;
		height: 600px;
		&.right {
			position: absolute;
			width: 66.6666%;
			height: auto;
			top: 0;
			bottom: 0;
			right: 0;
			> .map {
				overflow: hidden;
				position: absolute;
				width: 200%;
				left: -50%;
			}
		}
		.infowindow {
			position: absolute;
			top: 40px;
			right: 40px;
			background: #fff;
			padding: 20px;
			width: 200px;
			pointer-events: none;
		}
		> .map {
			width: 100%;
			height: 100%;
			display: block;
		}
	}
}

#intro {
	padding: 50px 0;
	max-width: 600px;
	margin: 0 auto;
	.big {
		font-size: 130%;
		line-height: 150%;
		color: #333;
	}
	.num {
		font-size: 130%;
		font-weight: 600;
	}
	.left,
	.right {
		width: 50%;
		margin-top: 20px;
		height: 120px;
	}
	.left {
		float: left;
		margin-left: -40px;
	}
	.right {
		float: right;
		margin-right: -40px;
	}
}

#about {
	padding: 50px 0;
	max-width: 600px;
	margin: 0 auto;
	font-size: 30px;
	line-height: 40px;
	color: #333;
	text-align: center;
	font-family: "Open Sans Condensed";
	font-weight: 200;
	background: #fff url(../img/dots.png);
	p {
		margin: 0;
	}
}

.section-title {
	background: #222;
	color: rgba(255,255,255,0.5);
	padding: 40px 0 20px;
	text-align: center;
	h1 {
		font-size: 50px;
		line-height: 50px;
		border-right: 1px solid rgba(255,255,255,0.2);
		float: none;
		text-transform: uppercase;
		color: #fff;
		margin: 0;
		height: 125px;
		padding-right: 20px;
		margin-bottom: -20px;
	}
	h2 {
		color: #fff;
		text-transform: uppercase;
		float: left;
		margin: 0 40px 0 0;
	}
	h2 {
		font-size: 34px;
	}
	p {
		margin: 23px 0 0 20px;
		float: left;
		&.alignright {
			float: right;
		}
	}
	.title-group-item {
		text-align: center;
		display: inline;
		padding-right: 10px;
		h2 {
			display: inline;
			margin: 0;
			color: rgba(255,255,255,0.2);
			.transition(color .2s ease-in-out);
			cursor: pointer;
			float: none;
		}
		&:hover h2 {
			color: rgba(255,255,255,0.5);
		}
		&.active h2 {
			color: #fff;
			border-bottom: 1px solid rgba(255,255,255,0.2);
		}
	}
	nav {
		font-size: 13px;
		text-transform: uppercase;
		margin-top: 20px;
		text-align: center;
		ul {
			margin: 0;	
			li {
				margin: 0;
				display: inline;
				a {
					display: inline;
					padding: 5px 10px;
					color: rgba(255,255,255,0.5);
					text-decoration: none;
					&:hover {
						color: rgba(255,255,255,0.8);
					}
					&.active {
						color: #333;
						background: rgba(255,255,255,0.9);
					}
				}
			}
		}
	}
}

.bar-list {
	&.inside-map {
		position: relative;
		z-index: 100;
		padding: 0;
		margin: 40px 10%;
		width: 25%;
		min-width: 350px;
		color: #fff;
		pointer-events: none;
		.bar-item {
			width: 100%;
			height: 45px;
			display: block;
			pointer-events: auto;
			border-bottom: 1px solid rgba(0,0,0,0.1);
			h3 {
				color: #fff;
			}
			p,
			.municipios,
			.percentage {
				color: rgba(255,255,255,0.7);
			}
			.percentage {
				font-family: "Open Sans";
				font-weight: 600;
				font-size: 16px;
			}
			.data-rep {
				background: rgba(0,0,0,0.5);
			}
			&:hover {
				.data-rep {
					background: rgba(0,0,0,0.6);
				}
				.percentage {
					color: #fff;
				}
			}
		}
	}
	.bar-item {
		position: relative;
		padding: 0 0 0 40px;
		margin: 0;
		border-bottom: 1px solid rgba(0,0,0,0.2);
		cursor: pointer;
		.data-rep {
			width: 0%;
			position: absolute;
			top: 0;
			left: 0;
			bottom: 0;
			background: rgba(0,0,0,0.1);
			.transition(width 1s ease-in-out);
		}
		.rank {
			position: absolute;
			left: 0;
			top: 4px;
			line-height: 42px;
			width: 40px;
			text-align: center;
			font-size: 12px;
			&:after {
				content: '.'; 
			}
		}
		.data-info {
			position: relative;
			z-index: 1;
		}
		p {
			margin: 0;
		}
		h3 {
			font-weight: 700;
			font-size: 20px;
			line-height: 42px;
			margin: 0 10px 0 0;
			float: left;
		}
		.municipios {
			font-size: 12px;
			line-height: 42px;
			color: #777;
			margin-top: 2px;
		}
		.percentage {
			font-size: 22px;
			line-height: 42px;
			font-family: "Open Sans Condensed";
			float: right;
			.suffix {
				font-size: 70%;
			}
		}
		&:hover {
			.data-rep {
				background: rgba(0,0,0,0.2);
			}
			.percentage {
				color: #333;
			}
		}
	}
}

@summary: #1abc9c;

.data-section {
	position: relative;
	.section-content {
		width: 100%;
		position: relative;
		overflow: hidden;
		&.with-map {
			&:before {
				content: '';
				width: 100%;
				top: 0;
				left: 0;
				bottom: 0;
				pointer-events:none;
				z-index: 2;
				position: absolute;
				background: -moz-linear-gradient(left,  rgba(0,0,0,0.7) 0%, rgba(0,0,0,0) 100%); /* FF3.7+ */
				background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(0,0,0,0.7)), color-stop(100%,rgba(0,0,0,0))); /* Chrome,Safari4+ */
				background: -webkit-linear-gradient(left,  rgba(0,0,0,0.7) 0%,rgba(0,0,0,0) 100%); /* Chrome10+,Safari5.1+ */
				background: -o-linear-gradient(left,  rgba(0,0,0,0.7) 0%,rgba(0,0,0,0) 100%); /* Opera 11.10+ */
				background: -ms-linear-gradient(left,  rgba(0,0,0,0.7) 0%,rgba(0,0,0,0) 100%); /* IE10+ */
				background: linear-gradient(to right,  rgba(0,0,0,0.7) 0%,rgba(0,0,0,0) 100%); /* W3C */
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=1 ); /* IE6-9 */
			}
			p.not-found {
				position: relative;
				z-index: 100;
				width: 100%;
				text-align: center;
			}
		}
	}
	.summary {
		line-height: 150%;
		font-size: 24px;
		margin-top: -100px;
		background: @summary;
		padding: 40px;
		color: #fff;
		border: 1px solid darken(@summary, 5%);
		border-width: 1px 1px 10px 1px;
		text-align: center;
		position: relative;
		strong {
			font-size: 120%;
			color: #fff;
		}
		.big-stats {
			font-family: "Open Sans Condensed";
			font-weight: 200;
			display: block;
			margin: 0 auto 20px;
			text-align: center;
			font-size: 90px;
			line-height: 180px;
			background: darken(@summary, 5%) url(../img/dots.png);
			color: rgba(255,255,255,1);
			border: 1px solid darken(@summary, 10%);
		}
	}
}

#mastfoot {
	padding: 60px 0;
	background: #111;
	color: rgba(255,255,255,0.5);
	text-align: center;
	h2 {
		color: #fff;
		text-transform: uppercase;
	}
	p {
		margin: 0 0 10px;
		a {
			color: #fff;
			font-weight: 600;
			text-decoration: none;
		}
	}
}