@import "functions.less";

body,
html {
	height: 100%;
}

h1,
h2,
h3,
h4,
h5 {
	font-family: "Open Sans Condensed";
	font-weight: 200;
	line-height: 150%;
}

#masthead {
	min-height: 100%;
	position: relative;
	&.fixed {
		position: fixed;
		min-height: 0;
		top: 0;
		left: 0;
		right: 0;
		height: 60px;
		border-bottom: 2px solid #fff;
		z-index: 99999;
		.video-credits {
			display: none;
		}
		h1 a {
			border-color: rgba(255,255,255,0.3);
			&:hover {
				border-color: #fff;
			}
		}
		h2,
		h2.tagline {
			display: none;
		}
	}
	video {
		position: absolute;
		right: 0;
		bottom: 0;
		min-width: 100%;
		min-height: 100%;
		width: auto;
		height: auto;
		z-index: -100;
		background: url(../img/header_bg.png) no-repeat;
		background-size: cover;
	}
	.video-credits {
		position: absolute;
		bottom: 0;
		right: 0;
		display: inline;
		font-size: 12px;
		line-height: 12px;
		color: rgba(255,255,255,0.3);
		margin: 0;
		padding: 5px;
		.transition(all .2s ease-in-out);
		&:hover {
			color: rgba(255,255,255,0.7);
		}
		a {
			color: inherit;
			text-decoration: none;
		}
	}
	&:before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background: rgba(0,0,0,0.5) url(../img/dots.png);
	}
	.header-content {
		position: relative;
		z-index: 2;
	}
	h2.ia {
		font-weight: 700;
		padding: 5% 0;
		text-align: center;
		color: #fff;
		text-transform: uppercase;
		font-size: 18px;
		line-height: 25px;
		a {
			text-decoration: none;
			color: inherit;
			display: inline-block;
			&:after {
				content: url(../img/ia.png);
				float: right;
				line-height: 25px;
				margin: 0 0 0 10px;
			}
		}
	}
	h1 {
		text-align: center;
		color: #fff;
		text-transform: uppercase;
		padding: 0;
		margin: 0 0 5%;
		line-height: 120px;
		.transition(all .2s ease-in-out);
		a {
			display: inline-block;
			color: inherit;
			text-decoration: none;
			border: 2px solid #fff;
			padding: 0;
			width: 230px;
			.transition(border-color .2s ease-in-out);
		}
		&.fixed {
			position:fixed;
			top: 0;
			left: 0;
			right: 0;
			margin: 0;
			line-height: 60px;
			font-size: 26px;
			a {
				border-top: 0;
			}
		}
	}
	h2.tagline {
		width: 50%;
		max-width: 580px;
		font-size: 32px;
		margin: 0 auto;
		padding: 0 0 10%;
		color: #fff;
		text-align: center;
	}
	&.title-fixed {
		h2.tagline {
			display: none;
		}
	}
}

#content {
	min-height:100%;
	background: #fff url(../img/dots.png);
	color: #666;
	padding: 80px 0;
	font-size: 18px;
	a {
		color: #333;
	}
	h1,
	h2,
	h3,
	h4,
	h5 {
		color: #333;
	}
}